# Database
DB_URL="postgresql://postgres:123456@localhost:5432/todolist"
DB_PASSWORD=123456
DB_NAME=todolist
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

# Server
PORT=3000
PUBLIC_PATH=public
NODE_ENV=development